.aircleaner {
  width: 1408px;
  margin: 0 auto 96px;
  padding-top: 96px;

  &__promo {
    min-height: 656px;
    margin-bottom: 24px;
    padding-top: 80px;

    text-align: center;

    background-image: url("../img/aircleaner-promo.jpg");
    background-repeat: no-repeat;
    background-size: 1408px auto;

    @include retina {
      background-image: url("../img/aircleaner-promo@2x.jpg");
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: rgba(17, 17, 18, 0.5);
  }

  &__streamer {
    width: 710px;
    margin: 0 auto 32px;

    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #111112;
  }

  &__price {
    margin: 0;
    margin-bottom: 24px;

    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #111112;
  }

  &__buy-link {
    width: 124px;
    margin-right: 22px;
  }

  &__benefits {
    min-height: 680px;
    padding: 72px 0 0 784px;
    margin-bottom: 96px;

    background-image: url("../img/aircleaner-benefits.jpg");
    background-repeat: no-repeat;
    background-size: 704px auto;

    @include retina {
      background-image: url("../img/aircleaner-benefits@2x.jpg");
    }
  }

  &__desc {
    margin: 0;
    margin-bottom: 56px;
    padding-right: 160px;

    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #111112;
  }

  &__benefits-list {
    padding: 0;
    padding-right: 150px;
    margin: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #111112;
  }

  &__benefits-list li {
    margin-bottom: 20px;
  }

  &__stages-title {
    margin: 0;
    margin-bottom: 88px;

    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #111112;
    text-align: center;
  }

  &__stages-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__stages-item {
    width: 400px;
    padding-top: 104px;
    margin-bottom: 35px;

    background-repeat: no-repeat;
    background-size: 80px auto;

    &:not(:nth-child(3n)) {
      margin-right: 76px;
    }

    &:first-child {
      background-image: url("../img/flash-streamer.png");

      @include retina {
        background-image: url("../img/flash-streamer@2x.png");
      }
    }

    &:nth-child(2) {
      background-image: url("../img/pre-filter.png");

      @include retina {
        background-image: url("../img/pre-filter@2x.png");
      }
    }

    &:nth-child(3) {
      background-image: url("../img/ionizer.png");

      @include retina {
        background-image: url("../img/ionizer@2x.png");
      }
    }

    &:nth-child(4) {
      background-image: url("../img/electrostatic-filter.png");

      @include retina {
        background-image: url("../img/electrostatic-filter@2x.png");
      }
    }

    &:nth-child(5) {
      background-image: url("../img/titanium-apatite-filter.png");

      @include retina {
        background-image: url("../img/titanium-apatite-filter@2x.png");
      }
    }

    &:nth-child(6) {
      background-image: url("../img/catalytic-filter.png");

      @include retina {
        background-image: url("../img/catalytic-filter@2x.png");
      }
    }
  }

  &__stages-name {
    margin: 0;
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #111112;
  }

  &__stages-desc {
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #888888;
  }

  &__footer {
    min-height: 400px;
    padding-top: 112px;

    text-align: center;

    background-image: url("../img/aircleaner-footer.jpg");
    background-repeat: no-repeat;
    background-size: 1408px auto;

    @include retina {
      background-image: url("../img/aircleaner-footer@2x.jpg");
    }
  }

  &__footer-name {
    margin: 0;
    margin-bottom: 24px;

    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
  }

  &__footer-price {
    margin: 0;
    margin-bottom: 24px;

    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
  }
}

@include desktop {
  .aircleaner {
    width: 960px;
    margin: 0 auto 64px;
    padding-top: 64px;

    &__promo {
      min-height: 560px;
      margin-bottom: 64px;

      background-position: bottom -96px left -244px;
    }

    &__benefits {
      min-height: 560px;
      padding: 24px 0 0 520px;
      margin-bottom: 64px;

      background-image: url("../img/aircleaner-benefits-desktop.jpg");
      background-repeat: no-repeat;
      background-size: 480px auto;

      @include retina {
        background-image: url("../img/aircleaner-benefits-desktop@2x.jpg");
      }
    }

    &__desc {
      margin-bottom: 32px;
      padding-right: 75px;

      font-size: 32px;
      line-height: 40px;
    }

    &__benefits-list {
      padding-right: 0;
    }

    &__stages-title {
      margin-bottom: 56px;

      font-size: 32px;
      line-height: 40px;
    }

    &__stages-list {
      margin-bottom: 29px;
    }

    &__stages-item {
      width: 304px;
      padding-top: 104px;

      &:not(:nth-child(3n)) {
        margin-right: 24px;
      }
    }

    &__footer {
      min-height: 272px;
      padding-top: 56px;

      background-image: url("../img/aircleaner-footer-desktop.jpg");
      background-size: 960px auto;

      @include retina {
        background-image: url("../img/aircleaner-footer-desktop@2x.jpg");
      }
    }

    &__footer-name {
      font-size: 32px;
      line-height: 40px;
    }

    &__footer-price {
      margin-bottom: 16px;
    }
  }
}

@include tablet {
  .aircleaner {
    width: 100%;

    &__promo {
      width: 720px;
      min-height: 480px;
      margin: 0 auto 16px;
      padding: 40px 138px;

      background-position: bottom left -178px;
      background-size: 1072px auto;
    }

    &__title {
      font-size: 18px;
      line-height: 32px;
    }

    &__streamer {
      width: auto;
      margin-bottom: 24px;

      font-size: 24px;
      line-height: 32px;
    }

    &__benefits {
      width: 720px;
      min-height: auto;
      padding: 512px 0 0;
      margin: 0 auto 64px;

      background-image: url("../img/aircleaner-benefits-tablet.jpg");
      background-size: 720px auto;

      @include retina {
        background-image: url("../img/aircleaner-benefits-tablet@2x.jpg");
      }
    }

    &__desc {
      padding-right: 60px;
    }

    &__benefits-list {
      padding-right: 100px;
    }

    &__stages {
      margin-bottom: 48px;
    }

    &__stages-title {
      font-size: 24px;
      line-height: 32px;
    }

    &__stages-list {
      flex-wrap: nowrap;
    }

    &__stages-item {
      width: 240px;
      margin: 0 20px;

      &:not(:nth-child(3n)) {
        margin-right: 20px;
      }

      &:first-child {
        margin-left: 24px;
      }

      &:last-child {
        margin-right: 24px;
      }
    }

    &__stages-name {
      margin-bottom: 8px;

      font-size: 18px;
      line-height: 24px;
    }

    &__footer {
      width: 720px;
      margin: 0 auto;

      background-image: url("../img/aircleaner-footer-tablet.jpg");
      background-size: 720px auto;
      background-position: top center;

      @include retina {
        background-image: url("../img/aircleaner-footer-tablet@2x.jpg");
      }
    }
  }
}

@include mobile {
  .aircleaner {
    margin-bottom: 0;
    padding-top: 56px;

    &__promo {
      width: 90%;
      padding: 24px 17px;

      background-position: bottom -50px left calc(50% - 217px);
      background-size: 1200px auto;
    }

    &__title {
      line-height: 24px;
    }

    &__streamer {
      width: 272px;
      margin: 0 auto 24px;

      font-size: 18px;
      line-height: 24px;
    }

    &__price {
      margin-bottom: 31px;

      font-size: 18px;
      line-height: 24px;
    }

    &__buy-link {
      margin-right: 12px;
    }

    &__benefits {
      width: 90%;
      padding: calc(105% + 24px) 0 0;
      margin: 0 auto 56px;

      background-image: url("../img/aircleaner-benefits-desktop@2x.jpg");
      background-size: 100% auto;
    }

    &__desc {
      padding-right: 0;
      margin-bottom: 24px;

      font-size: 24px;
      line-height: 32px;
    }

    &__benefits-list {
      padding-right: 0;

      font-size: 16px;
      line-height: 24px;
    }

    &__benefits-list li {
      margin-bottom: 16px;
    }

    &__stages {
      margin-bottom: 28px;
    }

    &__stages-title {
      width: 80%;
      margin: 0 auto 24px;

      font-size: 24px;
      line-height: 32px;
    }

    &__stages-item {
      margin: 0 12px;

      &:not(:nth-child(3n)) {
        margin-right: 12px;
      }

      &:first-child {
        margin-left: 5%;
      }

      &:last-child {
        margin-right: 5%;
      }
    }

    &__stages-desc {
      font-size: 14px;
      line-height: 22px;
    }

    &__footer {
      width: 100%;
      min-height: 320px;
      padding: 56px 30px 48px;

      background-image: url("../img/aircleaner-footer-mobile.jpg");
      background-size: cover;
      background-position: top right;

      @include retina {
        background-image: url("../img/aircleaner-footer-mobile@2x.jpg");
      }
    }

    &__footer-name {
      margin-bottom: 56px;

      font-size: 24px;
      line-height: 32px;
    }

    &__footer-price {
      margin-bottom: 24px;

      font-size: 18px;
      line-height: 24px;
    }
  }
}
