@keyframes banner-overlay {
  0% { width: 100%; }
  100% { width: 0; }
}

@keyframes banner-overlay-delay {
  0% { width: 100% }
  100% { width: 100% }
}

// @keyframes back {
//   0% {
//     background-size: 140% auto;
//   }

//   80% {
//     background-size: 140% auto;
//   }

//   99% {
//     background-size: 100% auto;
//   }
// }

.banner__item {
  position: relative;

  box-sizing: border-box;
  width: 25%;
  height: 472px;
  padding: 40px 56px;

  font-size: 32px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    @include transition;

    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #000000;
    opacity: 5%;
  }

  &:hover::before {
    opacity: 30%;
  }

  & span {
    position: relative;
    z-index: 10;
  }

  &--split {
    background-image: url("../img/banner-split@2x.jpg");

    &::after {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      height: 100%;

      background-color: #000000;

      animation:
        banner-overlay-delay 4.8s linear,
        banner-overlay 0.8s cubic-bezier(0.6, -0.05, 0.1, 0.99) 4.8s;
      z-index: 20;
    }
  }

  &--mult {
    background-image: url("../img/banner-mult@2x.jpg");

    &::after {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      height: 100%;

      background-color: #000000;

      animation:
        banner-overlay-delay 5s linear,
        banner-overlay 0.8s cubic-bezier(0.6, -0.05, 0.1, 0.99) 5s;
      z-index: 20;
    }
  }

  &--aircleaner {
    background-image: url("../img/banner-aircleaner@2x.jpg");

    &::after {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      height: 100%;

      background-color: #000000;

      animation:
        banner-overlay-delay 5.2s linear,
        banner-overlay 1s cubic-bezier(0.6, -0.05, 0.1, 0.99) 5.2s;
      z-index: 20;
    }
  }

  &--program {
    background-image: url("../img/banner-program@2x.jpg");

    &::after {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      height: 100%;

      background-color: #000000;

      animation:
        banner-overlay-delay 5.4s linear,
        banner-overlay 1s cubic-bezier(0.6, -0.05, 0.1, 0.99) 5.4s;
      z-index: 20;
    }
  }
}

.banner__prev,
.banner__next {
  display: none;
}

.banner__d-degree {
  position: absolute;
  top: 204px;
  left: 50%;

  width: 72px;
  height: 42px;
  margin-left: -32px;

  background-image: url("../img/d-degree.png");
  background-size: 72px auto;

  @include retina {
    background-image: url("../img/d-degree@2x.png");
  }
}

@include desktop {
  .banner__item {
    height: 440px;
    padding: 40px 32px;

    font-size: 24px;
    line-height: 28px;
  }

  .banner__d-degree {
    top: 188px;
  }
}

@include tablet {
  .banner {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      height: 100%;

      background-color: #000000;
      z-index: 20;

      animation: banner-overlay 3s ease-in-out;
    }
  }

  .banner__item {
    width: 360px;
    min-width: 360px;
    padding: 40px 48px;

    font-size: 32px;
    line-height: 36px;

    background-position: top center;
    background-size: 400px auto;

    &:hover::before {
      opacity: 5%;
    }

    &::after {
      animation: none;
    }

    &--program {
      order: 2;
    }

    &--split {
      order: 1;
    }

    &--mult {
      order: 3;
    }

    &--aircleaner {
      order: 4;
    }
  }

  .banner__prev,
  .banner__next {
    display: block;
    width: 45px;
    height: 45px;

    z-index: 1;

    &::after {
      display: none;
    }

    &::before {
      content: "";

      position: absolute;
      top: 50%;

      width: 45px;
      height: 45px;
      margin-top: -22px;

      background-image: url("../img/arrow-right-white.svg");
      background-repeat: no-repeat;
      background-size: 25px auto;
      background-position: center;
    }
  }

  .banner__prev {
    left: 15px;

    transform: rotate(180deg);
  }

  .banner__next {
    right: 15px;
  }
}

@include mobile {
  .banner__item {
    height: 100vw;
    max-height: 440px;
    width: 100%;
    min-width: 100%;
    padding: 23px 5%;

    font-size: 24px;
    line-height: 28px;

    background-size: cover;
    background-position: bottom right;

    &--split {
      background-image: url("../img/banner-split@2x.jpg")
    }

    &--program {
      background-position: center right;
      background-image: url("../img/banner-program@2x.jpg")
    }

    &--mult {
      background-position: center right;
      background-image: url("../img/banner-mult@2x.jpg")
    }

    &--aircleaner {
      background-position: center right;
      background-image: url("../img/banner-aircleaner@2x.jpg")
    }
  }

  .banner__prev {
    left: 1.9%;
  }

  .banner__next {
    right: 1.9%;
  }

  .banner__d-degree {
    top: 50%;

    margin-top: -50px
  }
}
