.promotion {
  padding-top: 96px;

  &__container {
    @include container;

    display: flex;
    justify-content: space-between;
  }
}

.promotion__aircleaner {
  min-height: 424px;
  width: 692px;
  padding: 47px 46px;

  text-decoration: none;

  background:
    url("../img/promotion-1-bg.png") bottom right no-repeat,
    linear-gradient(120.4deg, #F529F8 -24.43%, #3A72DE 101.65%), #F6F6F6;

  @include retina {
    background:
      url("../img/promotion-1-bg@2x.png") bottom right/692px auto no-repeat,
      linear-gradient(120.4deg, #F529F8 -24.43%, #3A72DE 101.65%), #F6F6F6;
  }

  &-title {
    margin: 0;
    margin-bottom: 66px;
    max-width: 300px;
  }

  &-slogan {
    display: inline-block;
    margin-bottom: 9px;

    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #fff;
  }

  &-name {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #fff;
  }

  &-desc {
    margin-left: 32px;
    max-width: 280px;

    font-size: 30px;
    line-height: 36px;
    color: #000;

    transform: rotate(-5.3deg)
  }
}

.promotion__temp {
  padding: 43px 48px;
  min-height: 424px;
  width: 692px;

  background-image: url("../img/promotion-temp-bg.jpg");
  background-position: center right;
  background-size: 692px auto;
  background-repeat: no-repeat;

  @include retina {
    background-image: url("../img/promotion-temp-bg@2x.jpg");
  }

  &.hidden {
    display: none;
  }

  &-title {
    max-width: 370px;
    margin: 0;

    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000;
  }
}

.promotion__r32 {
  position: relative;

  width: 692px;
  padding: 45px 33px 0 26px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  //background-color: rgba(36, 37, 38, 0.04);

  &::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(36, 37, 38, 0.04);
  }

  &.hidden {
    display: none;
  }

  &-title {
    margin: 0;
    margin-bottom: 44px;
    margin-left: 23px;

    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #000;
  }

  &-wifi {
    margin: 0;
    margin-right: 40px;
    margin-left: 23px;
    margin-bottom: 40px;

    width: 313px;
    font-size: 24px;
    line-height: 30px;
    color: #000;
  }

  &-gift {
    width: 226px;
    height: 72px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 36px;
    line-height: 40px;
    color: #000;

    background-color: #ffd43c;
    border-radius: 4px;
    transform: rotate(-5.3deg);
  }

  &-wifi-pic {
    width: 229px;
    height: 127px;
    margin-right: 23px;

    background-image: url("../img/wifi-pic.png");
    background-size: 229px auto;
    background-position: top -50px center;
  }

  &-mobile-control,
  &-climat-online {
    height: 127px;

    background-repeat: no-repeat;
    background-position: center center;
  }

  &-mobile-control {
    width: 190px;
    margin-right: 8px;

    background-image: url("../img/mobile-control-logo.svg");
    background-size: 180px auto;
  }

  &-climat-online {
    width: 183px;

    background-image: url("../img/climat-online-logo.svg");
    background-size: 154px auto;
  }
}

@include desktop {
  .promotion {
    padding-top: 64px;
  }

  .promotion__aircleaner {
    width: 465px;
    padding-top: 40px;
    min-height: 609px;

    text-align: center;

    background:
      url("../img/promotion-1-bg-medium.jpg") center center/auto 100% no-repeat;

    @include retina {
      background:
        url("../img/promotion-1-bg-medium@2x.jpg") center center/auto 100% no-repeat;
    }

    &-title {
      margin: 0 auto 160px;
    }

    &-desc {
      max-width: none;
      margin: 0;
    }
  }

  .promotion__temp {
    width: 465px;

    background-size: cover;
    background-position: top right -100px;

    &-title {
      max-width: 300px;

      font-size: 32px;
      line-height: 36px;
    }
  }

  .promotion__r32 {
    width: 465px;
    padding-top: 40px;

    &-title {
      margin: 0 0 23px;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
    }

    &-wifi {
      margin: 0 auto 20px;

      text-align: center;
    }

    &-gift {
      margin: 0 auto 20px;
    }

    &-wifi-pic {
      margin: 0 auto;
    }

    &-mobile-control {
      margin-right: auto;
    }
  }
}

@include tablet {
  .promotion {
    max-width: 720px;
    margin: 0 auto;

    &__container {
      padding: 0;
    }
  }

  .promotion__aircleaner {
    width: 350px;
    padding: 40px 20px;
    min-height: 570px;

    background:
      url("../img/promotion-1-bg-medium.jpg") center center/auto 110% no-repeat;

    @include retina {
      background:
        url("../img/promotion-1-bg-medium@2x.jpg") center center/auto 110% no-repeat;
    }

    &-title {
      margin-bottom: 155px;
    }

    &-slogan {
      margin-bottom: 5px;
      font-size: 26px;
      line-height: 40px;
    }

    &-name {
      font-size: 36px;
      line-height: 36px;
    }

    &-desc {
      font-size: 25px;
      line-height: 34px;
    }
  }

  .promotion__temp {
    width: 350px;
    padding: 40px 20px;

    background-position: top right -150px;

    &-title {
      max-width: 245px;
      font-size: 26px;
      line-height: 30px;
    }
  }

  .promotion__r32 {
    width: 350px;
    padding-bottom: 20px;

    &-title {
      font-size: 28px;
      line-height: 32px;
    }

    &-wifi {
      max-width: 220px;
      font-size: 20px;
      line-height: 24px;
    }

    &-gift {
      width: 206px;
      height: 65px;

      font-size: 32px;
      line-height: 40px;
    }

    &-climat-online {
      width: 125px;
      height: 87px;

      background-size: 100% auto;
    }

    &-mobile-control {
      width: 150px;
      height: 91px;

      background-size: 100% auto;
    }
  }
}

@include mobile {
  .promotion {
    &__container {
      @include container;

      flex-direction: column;
      align-items: center;
    }
  }

  .promotion__aircleaner {
    min-height: 424px;
    width: 100%;
    max-width: 692px;
    padding: 50px 30px;
    margin-bottom: 30px;

    background:
      url("../img/promotion-1-bg.png") bottom right no-repeat,
      linear-gradient(120.4deg, #F529F8 -24.43%, #3A72DE 101.65%), #F6F6F6;

    @include retina {
      background:
        url("../img/promotion-1-bg@2x.png") bottom right/692px auto no-repeat,
        linear-gradient(120.4deg, #F529F8 -24.43%, #3A72DE 101.65%), #F6F6F6;
    }

    &-title {
      margin: 0;
      margin-bottom: 80px;
      max-width: 300px;

      text-align: left;
    }

    &-slogan {
      display: inline-block;
      margin-bottom: 5px;

      font-weight: 400;
      font-size: 24px;
      line-height: 35px;
      color: #fff;
    }

    &-name {
      font-weight: 400;
      font-size: 34px;
      line-height: 34px;
      color: #fff;
    }

    &-desc {
      margin-left: 15px;
      max-width: 240px;

      font-size: 24px;
      line-height: 32px;
      color: #000;
      text-align: left;

      transform: rotate(-5.3deg)
    }
  }

  .promotion__temp {
    width: 100%;
    min-height: 424px;
    padding: 50px 30px;

    background-position: center center;

    &-title {
      max-width: 70%;
      font-size: 34px;
      line-height: 40px;
    }
  }

  .promotion__r32 {
    position: relative;

    width: 100%;
    padding: 45px 33px 30px 26px;
    min-height: 424px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    //background-color: rgba(36, 37, 38, 0.04);

    &::after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: rgba(36, 37, 38, 0.04);
    }

    &-title {
      margin: 0;
      margin-bottom: 44px;

      font-size: 34px;
      line-height: 38px;
      text-align: left;
    }

    &-wifi {
      margin: 0;
      margin-right: 40px;
      margin-bottom: 40px;

      width: 313px;
      font-size: 24px;
      line-height: 30px;
      color: #000;
      text-align: left;
    }

    &-gift {
      width: 226px;
      height: 72px;
      margin-top: -10px;
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 36px;
      line-height: 40px;
      color: #000;

      background-color: #ffd43c;
      border-radius: 4px;
      transform: rotate(-5.3deg);
    }

    &-wifi-pic {
      width: 30%;
      height: 80px;
      margin: 0;
      margin-right: 3%;

      background-image: url("../img/wifi-pic.png");
      background-size: 100% auto;
      background-position: center;
    }

    &-mobile-control,
    &-climat-online {
      height: 80px;

      background-repeat: no-repeat;
      background-position: center center;
    }

    &-mobile-control {
      width: 30%;
      margin-right: 4%;

      background-image: url("../img/mobile-control-logo.svg");
      background-size: 100% auto;
    }

    &-climat-online {
      width: 26%;

      background-image: url("../img/climat-online-logo.svg");
      background-size: 100% auto;
    }
  }
}

@media (max-width: 640px) {

  .promotion__aircleaner {
    min-height: 300px;
    padding-top: 25px;

    background:
      url("../img/promotion-1-bg.png") top calc(50% + 20px) right/cover no-repeat,
      linear-gradient(120.4deg, #F529F8 -24.43%, #3A72DE 101.65%), #F6F6F6;

    &-title {
      margin-bottom: 50px;
      max-width: 200px;
    }

    &-slogan {
      font-size: 18px;
    }

    &-name {
      font-size: 28px;
    }

    &-desc {
      max-width: 180px;

      font-size: 18px;
      line-height: 27px;
    }
  }

  .promotion__temp {
    min-height: 300px;
    padding-top: 25px;

    &-title {
      font-size: 28px;
      line-height: 32px;
    }
  }

  .promotion__r32 {
    min-height: 300px;

    &-title {
      margin-bottom: 20px;

      font-size: 28px;
      line-height: 32px;
    }

    &-wifi {
      max-width: 170px;
      margin: 0 20px 30px 0;

      font-size: 18px;
      line-height: 27px;
    }

    &-gift {
      width: 160px;
      height: 50px;
      margin-top: 0;

      font-size: 28px;
      line-height: 32px;
    }
  }
}

@media (max-width: 500px) {
  .promotion__aircleaner {
    min-height: 230px;
    margin-bottom: 20px;

    &-title {
      margin-bottom: 40px;
    }

    &-slogan {
      font-size: 15px;
      line-height: 18px;
    }

    &-name {
      font-size: 22px;
      line-height: 22px;
    }

    &-desc {
      max-width: 160px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  .promotion__temp {
    min-height: 230px;

    &-title {
      font-size: 22px;
      line-height: 26px;
    }
  }

  .promotion__r32 {
    padding: 25px 30px;
    min-height: 230px;

    &-title {
      font-size: 22px;
      line-height: 26px;
    }

    &-wifi {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 10px;
    }

    &-gift {
      width: 120px;
      height: 40px;

      font-size: 20px;
      line-height: 22px;
    }

    &-wifi-pic {
      height: 50px;
    }

    &-mobile-control,
    &-climat-online {
      height: 50px;
    }
  }
}

@media (max-width: 420px) {
  .promotion__aircleaner {
    min-height: 180px;
    padding: 15px 20px;

    background:
      url("../img/promotion-1-bg.png") top calc(50% + 10px) right/cover no-repeat,
      linear-gradient(120.4deg, #F529F8 -24.43%, #3A72DE 101.65%), #F6F6F6;

    &-title {
      margin-bottom: 20px;
    }

    &-slogan {
      font-size: 13px;
      line-height: 18px;

    }

    &-name {
      font-size: 18px;
      line-height: 18px;
    }

    &-desc {
      max-width: 130px;
      margin-left: 5px;

      font-size: 13px;
      line-height: 18px;
    }
  }

  .promotion__temp {
    padding: 15px 20px;
    min-height: 180px;

    &-title {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .promotion__r32 {
    padding: 15px 20px;
    min-height: 180px;

    &-title {
      font-size: 18px;
      line-height: 22px;
    }

    &-wifi {
      max-width: 120px;
      margin-right: 10px;

      font-size: 13px;
      line-height: 18px;
    }

    &-gift {
      width: 100px;
      height: 35px;

      font-size: 18px;
      line-height: 20px;
    }
  }
}
