.split-cards {
  width: 1408px;
  margin: 0 auto;

  padding-top: 96px;
  padding-bottom: 72px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 453px;
    min-height: 632px;
    margin-bottom: 24px;
    padding: 45px 46px 64px;

    text-align: center;

    background-color: #f6f6f6;
    background-repeat: no-repeat;
  }

  &__item:not(:nth-child(3n + 4)) {
    margin-right: auto;
  }

  &__item:first-child {
    width: 100%;
    min-height: 424px;
    margin-right: 0;
    padding: 64px 849px 80px 133px;

    background:
      url("../img/ftxb-rxb-big.png") top 45px right/567px auto no-repeat,
      linear-gradient(139.35deg, #921FD8 0%, #4778D8 56.99%, #00DBDE 119.8%), #F6F6F6;

    // background-image: url("../img/ftxb-rxb-big.png");
    // background-size: 567px auto;
    // background-position: top 45px right;

    @include retina {
      background:
        url("../img/ftxb-rxb-big@2x.png") top 45px right/567px auto no-repeat,
        linear-gradient(139.35deg, #921FD8 0%, #4778D8 56.99%, #00DBDE 119.8%), #F6F6F6;
    }
  }

  &__item:nth-child(2) {
    background-image: url("../img/ftxf-rxf.png");
    background-size: 326px auto;
    background-position: top 237px center;

    @include retina {
      background-image: url("../img/ftxf-rxf@2x.png");
    }
  }

  &__item:nth-child(3) {
    background-image: url("../img/ftxm-rxm.png");
    background-size: 326px auto;
    background-position: top 237px center;

    @include retina {
      background-image: url("../img/ftxm-rxm@2x.png");
    }
  }

  &__item:nth-child(4) {
    background-image: url("../img/ftxj-rxj.png");
    background-size: 370px auto;
    background-position: top 239px center;

    @include retina {
      background-image: url("../img/ftxj-rxj@2x.png");
    }
  }

  &__item:nth-child(5) {
    background-image: url("../img/ftxg-rxg.png");
    background-size: 370px auto;
    background-position: top 239px center;

    @include retina {
      background-image: url("../img/ftxg-rxg@2x.png");
    }
  }

  &__item:nth-child(6) {
    background-image: url("../img/ftxs-rxs.png");
    background-size: 376px auto;
    background-position: top 237px center;

    @include retina {
      background-image: url("../img/ftxs-rxs@2x.png");
    }
  }

  &__item:nth-child(7) {
    background-image: url("../img/ftxp-rxp.png");
    background-size: 375px auto;
    background-position: top 237px center;

    @include retina {
      background-image: url("../img/ftxp-rxp@2x.png");
    }
  }

  &__name {
    margin: 0;
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.5);
  }

  &__desc {
    margin: 0;

    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

  &__name--main {
    color: rgba(255, 255, 255, 0.7);
  }

  &__desc--main {
    font-size: 32px;
    line-height: 40px;
    color: #fff;
  }

  &__price {
    margin: auto 0 24px;

    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  &__price--main {
    color: #fff;
  }

  &__buy-link {
    width: 124px;
  }

  &__bottom .split-cards__buy-link {
    margin-right: 22px;
  }

  &__about-link--main {
    &:hover {
      color: #fff;
      opacity: 0.8;
    }

    &:hover::before {
      background-image: url("../img/arrow-right-white.svg");
    }
  }
}

@include desktop {
  .split-cards {
    width: 960px;
    padding-bottom: 40px;

    &__item {
      width: 468px;
    }

    &__item:not(:nth-child(3n + 4)) {
      margin-right: 0;
    }

    &__item:not(:nth-child(2n + 1)) {
      margin-right: auto;
    }

    &__item:first-child {
      padding: 64px 513px 80px 21px;

      background:
        url("../img/ftxb-rxb-big.png") top 45px right/502px auto no-repeat,
        linear-gradient(139.35deg, #921FD8 0%, #4778D8 56.99%, #00DBDE 119.8%), #F6F6F6;

      @include retina {
        background:
        url("../img/ftxb-rxb-big@2x.png") top 45px right/502px auto no-repeat,
        linear-gradient(139.35deg, #921FD8 0%, #4778D8 56.99%, #00DBDE 119.8%), #F6F6F6;
      }

      //background-size: 502px auto;
    }
  }
}

@include tablet {
  .split-cards {
    width: 720px;
    padding-top: 64px;
    padding-bottom: 48px;

    &__item {
      width: 352px;
      min-height: 400px;
      margin-bottom: 16px;
      padding: 24px 50px;
    }

    &__item:first-child {
      min-height: 376px;
      padding: 64px 418px 64px 50px;

      background:
        url("../img/ftxb-rxb-big.png") top 45px right -10px /378px auto no-repeat,
        linear-gradient(139.35deg, #921FD8 0%, #4778D8 56.99%, #00DBDE 119.8%), #F6F6F6;

      @include retina {
        background:
        url("../img/ftxb-rxb-big@2x.png") top 45px right -10px /378px auto no-repeat,
        linear-gradient(139.35deg, #921FD8 0%, #4778D8 56.99%, #00DBDE 119.8%), #F6F6F6;
      }

      // background-size: 378px auto;
      // background-position: top 45px right -10px;
    }

    &__item:nth-child(2) {
      background-size: 204px auto;
      background-position: top 144px center;
    }

    &__item:nth-child(3) {
      background-size: 204px auto;
      background-position: top 144px center;
    }

    &__item:nth-child(4) {
      background-size: 204px auto;
      background-position: top 167px center;
    }

    &__item:nth-child(5) {
      background-size: 204px auto;
      background-position: top 167px center;
    }

    &__item:nth-child(6) {
      background-size: 244px auto;
      background-position: top 144px center;
    }

    &__item:nth-child(7) {
      background-size: 246px auto;
      background-position: top 144px center;
    }

    &__name {
      font-size: 18px;
      line-height: 24px;
    }

    &__name--main {
      font-size: 20px;
      line-height: 32px;
    }

    &__desc {
      font-size: 18px;
      line-height: 24px;
    }

    &__desc--main {
      font-size: 24px;
      line-height: 32px;
    }

    &__price {
      margin-bottom: 16px;

      font-size: 18px;
      line-height: 24px;
    }

    &__price--main {
      margin-bottom: 24px;

      font-size: 20px;
      line-height: 32px;
    }
  }
}

@include mobile {
  .split-cards {
    width: 90%;
    padding: 56px 0 40px;

    &__item {
      width: 100%;
      padding: 24px 18px;
    }

    &__item:nth-child(n) {
      margin-right: 0;
    }

    &__item:first-child {
      min-height: 400px;
      padding: 24px 18px;

      background:
        url("../img/ftxb-rxb.png") top 144px center /204px auto no-repeat,
        linear-gradient(104.17deg, #921FD8 0%, #4778D8 56.99%, #00DBDE 119.8%), #F6F6F6;

      // @include retina {
      //   background:
      //   url("../img/ftxb-rxb-big@2x.png") top 45px right -10px /378px auto no-repeat,
      //   linear-gradient(139.35deg, #921FD8 0%, #4778D8 56.99%, #00DBDE 119.8%), #F6F6F6;
      // }

      // background-size: 204px auto;
      // background-position: top 144px center;
      // background-image: url("../img/ftxb-rxb.png");
    }

    &__item:nth-child(4) {
      min-height: 424px;

      background-size: 242px auto;
      background-position: bottom 120px center;
    }

    &__item:nth-child(5) {
      background-size: 242px auto;
      background-position: bottom 120px center;
    }

    &__item:nth-child(6) .split-cards__desc {
      padding: 0 50px;
    }

    &__name {
      font-size: 18px;
      line-height: 24px;
    }

    &__desc {
      width: 253px;

      font-size: 18px;
      line-height: 24px;
    }

    &__price {
      margin-bottom: 16px;

      font-size: 18px;
      line-height: 24px;
    }
  }

  .split-cards__bottom .split-cards__buy-link {
    margin-right: 12px;
  }
}
