// vendor
@import "vendor/normalize.scss";
@import "vendor/swiper.scss";

// general
@import "general/variables.scss";
@import "general/mixins.scss";
@import "general/fonts.scss";
@import "general/global.scss";

// blocks
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/banner.scss";
