*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-width: $width-mobile;
  //max-width: $width-desktop-max;
  margin: 0 auto;

  font-family: $font;
  //font-weight: 400;
  font-style: normal;
  //font-size: 14px;
  //line-height: 16px;

  &.popup {
    max-height: 100vh;
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input:-moz-focusring {
  outline: none;
  border-color: #00adef;
  box-shadow: none;
}

input:invalid {
  outline: none;
  box-shadow: none;
}

ul li {
  list-style: none;
}

a {
  border-bottom: none;
}
