//РАЗРЕШЕНИЯ
// Меньше 1600
@mixin desktop {
  @media (max-width: $width-desktop-large - 1px) {
    @content;
  }
}

// Меньше 1024
@mixin tablet {
  @media (max-width: $width-desktop - 1px) {
    @content;
  }
}

// Меньше 768
@mixin mobile {
  @media (max-width: $width-tablet - 1px) {
    @content;
  }
}

// СБРОС СТИЛЕЙ

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-reset {
  text-decoration: none;
  color: inherit;
}

// ШРИФТЫ

/* playfair-display-regular - latin */
@mixin font-face($name, $filename, $weight) {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/'+$filename+'.eot'); /* IE9 Compat Modes */
    src: local(''),
      url('../fonts/'+$filename+'.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/'+$filename+'.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/'+$filename+'.woff') format('woff'), /* Modern Browsers */
      url('../fonts/'+$filename+'.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/'+$filename+'.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
}


@mixin title-font {
  margin: 0;

  font-weight: 300;
  font-size: 48px;
  line-height: 53px;

  @include desktop-medium {
    font-size: 32px;
    line-height: 35px;
  }

  @include mobile-l {
    font-size: 24px;
    line-height: 28px;
  }
}

@mixin desc-font {
  margin: 0;

  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.63px;

  @include desktop-medium {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0;
  }
}

// РЕТИНА
@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// КОНТЕЙНЕР
@mixin container {
  margin: 0 auto;
  max-width: 1600px;
  padding-left: 96px;
  padding-right: 96px;

  @include desktop {
    max-width: 1024px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include tablet {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include mobile {
    padding-left: 16px;
    padding-right: 16px;
  }
}

//ПЛАНВНЫЙ ХОВЕР
@mixin transition($duration: 0.2s) {
  transition: all $duration ease;
}
