//ШРИФТЫ
$font: "PT Root UI", "Arial", "Helvetica", "Helvetica CY", "Nimbus Sans";

// РЕТИНА
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// РАЗРЕШЕНИЯ
$width-desktop-large: 1600px;
$width-desktop: 1024px;
$width-tablet: 768px;
$width-mobile: 320px;
